- 문제
    - 결측치가 80% 이상인 칼럼은 삭제
    - 미만인 칼럼은 city 별 중앙값으로 값을 대체
    - 최종적으로 f1 칼럼의 평균값 출력

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
# data
df = pd.read_csv(r'C:\Project\study-bigbungi\데이터\Basic\basic1.csv')
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [6]:
# 결측치 비율 확인

'''
- 삭제할 칼럼
    - f3
- city 별 중앙값을 대체할 칼럼
    - f1
'''

df.isnull().sum() / len(df)

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [7]:
# f3 칼럼 삭제
df.drop(['f3'], axis=1, inplace=True)
df.head(3)

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울   NaN   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986

In [25]:
# city 확인
# print(df['city'].value_counts())
print(df['city'].unique()) # type = np.array

# f1 칼럼 city 별 중앙값 확인
med_s = df[df['city'] == '서울']['f1'].median()
med_b = df[df['city'] == '부산']['f1'].median()
med_d = df[df['city'] == '대구']['f1'].median()
med_k = df[df['city'] == '경기']['f1'].median()
print(f'서울 f1 중앙값 : {med_s}')
print(f'부산 f1 중앙값 : {med_b}')
print(f'대구 f1 중앙값 : {med_d}')
print(f'경기 f1 중앙값 : {med_k}')

['서울' '부산' '대구' '경기']
서울 f1 중앙값 : 68.0
부산 f1 중앙값 : 62.0
대구 f1 중앙값 : 75.0
경기 f1 중앙값 : 58.0

In [36]:
# city 별 중앙값으로 결측치 대체하기

# 서울
df[df['city'] == '서울'] = df[df['city'] == '서울'].fillna(med_s)
# 부산
df[df['city'] == '부산'] = df[df['city'] == '부산'].fillna(med_b)
# 대구
df[df['city'] == '대구'] = df[df['city'] == '대구'].fillna(med_d)
# 경기
df[df['city'] == '경기'] = df[df['city'] == '경기'].fillna(med_k)

# 결측치 처리 후 확인
df.isnull().sum()

id      0
age     0
city    0
f1      0
f2      0
f4      0
f5      0
dtype: int64

In [37]:
df.head(3)

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울  68.0   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986