- 문제 (표준편차)
    - f4 칼럼 중
    - ENFJ & INFP 의 표준편차 차이의 값의
    - 절댓값을 구하기

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Project\study-bigbungi\데이터\Basic\basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [3]:
# ENFJ, INFP
ENFJ = df[df['f4'] == 'ENFJ']
INFP = df[df['f4'] == 'INFP']

In [4]:
ENFJ.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [5]:
INFP.head(2)

      id   age city  f1  f2   f3    f4         f5
3   id04  75.0   서울 NaN   2  NaN  INFP  52.667078
33  id34  65.0   부산 NaN   1  NaN  INFP  48.431184

In [13]:
# ENFJ std
std1 = ENFJ.describe().loc['std', 'f1']
# INFP std
std2 = INFP.describe().loc['std', 'f1']

In [14]:
print(np.abs(std1 - std2))

5.859621525876811

In [16]:
# another method
std1 = ENFJ['f1'].std()
std2 = INFP['f1'].std()
print(np.abs(std1 - std2))

5.859621525876811