- 문제 (값 변경)
    - f4 칼럼의 값이 ESFJ 인 데이터를 ISFJ 로 대체하고
    - city == '경기' 이면서 f4 == 'ISFJ' 인 데이터 중
    - age 칼럼의 최대를 출력

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Project\study-bigbungi\데이터\Basic\basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [3]:
df['f4'].value_counts()

ESTP    11
ISFJ    10
ISFP    10
ESTJ     9
INTP     8
ENFJ     6
INFP     6
ENFP     6
ENTP     6
ESFJ     5
ENTJ     5
INFJ     4
ESFP     4
ISTP     4
INTJ     4
ISTJ     2
Name: f4, dtype: int64

In [5]:
# replace
df['f4'].replace('ESFJ', 'ISFJ', inplace=True)
df['f4'].value_counts()

ISFJ    15
ESTP    11
ISFP    10
ESTJ     9
INTP     8
ENFJ     6
INFP     6
ENFP     6
ENTP     6
ENTJ     5
INFJ     4
ESFP     4
ISTP     4
INTJ     4
ISTJ     2
Name: f4, dtype: int64

In [7]:
result = df[(df['city'] == '경기') & (df['f4'] == 'ISFJ')]
result.head(2)

      id   age city    f1  f2   f3    f4         f5
62  id63  88.0   경기  86.0   1  NaN  ISFJ  73.586397
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397

In [8]:
result['age'].max()

90.0