- 문제
    - f2 == 1 인 데이터의 f1 칼럼의 누적합을 계산
    - 이때 발생하는 누적합의 결측치는 바로 뒤의 값을 채움
    - 최종적으로 누적합의 평균값 출력
    - (단, 결측값 바로 뒤의 값이 없으면 다음에 나오는 값을 채움)

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Project\study-bigbungi\데이터\Basic\basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [9]:
df[df['f2'] == 1]['f1'].head(5)

1     70.0
2     61.0
6     60.0
7    101.0
9     74.0
Name: f1, dtype: float64

In [10]:
df[df['f2'] == 1]['f1'].isnull().sum() # 11개의 결측치 있음

11

In [15]:
# cumsum (누적합 계산)
result = df[df['f2'] == 1]['f1'].cumsum()
result.head(10) # 결측치는 바로 뒤의 값을 채워야 함

1      70.0
2     131.0
6     191.0
7     292.0
9     366.0
13    416.0
14    483.0
16      NaN
19    534.0
20      NaN
Name: f1, dtype: float64

In [16]:
result = result.fillna(method='bfill') # 바로 뒤에 나오는 값으로 채움 / 앞의 값으로 채우고 싶다면 method='pad'
result.head(10)

1      70.0
2     131.0
6     191.0
7     292.0
9     366.0
13    416.0
14    483.0
16    534.0
19    534.0
20    606.0
Name: f1, dtype: float64

In [17]:
result.mean() # 누적합의 평균값

980.3783783783783