- 문제 (Standarization = Z-score Normalization)
    - f5 칼럼을 표준화하고
    - 그 중앙값 구하기

In [5]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv(r'C:\Project\study-bigbungi\데이터\Basic\basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826

In [7]:
f5 = df[['f5']]
f5.head(2)

          f5
0  91.297791
1  60.339826

In [10]:
stdscaler = StandardScaler()

# Z-score Normalization
f5 = stdscaler.fit_transform(f5)
f5 = pd.DataFrame(f5)
f5.head(2)

          0
0  1.220815
1  0.127343

In [11]:
# median
f5.median()

0    0.26062
dtype: float64